@import 'colors';
@import 'dimensions';

div#wrapper{
  div#container{
    div#login-form{
      width: 400px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      border: solid 4px $dark_magenta;
      background-color: $very_light_gray;
    }

    h1{
      background-color: transparent;
      color: $very_dark_magenta;
      font-size: 20px;
      font-weight: bold;
    }

    form{
      div{
        padding: 10px;
        label{
          display: block;
          padding: 6px 0;
        }
        input[type="text"],input[type="password"]{
          padding: 10px;
          width: 360px;
        }
        input[type="submit"]{
          padding: 10px 20px;
        }
      }
    }
  }
}